html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
  letter-spacing: 0.5px;
}

a {
  color: skyblue;
}

* {
  box-sizing: border-box;
}
